/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {

    header {
        background: none;
        padding-top: 0;
    }

    .banner-bg-container {
        background: none;
        position: static;
    }

    .banner-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .banner-text-container {
        width: 90%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .banner-text-container h1 {
        font-size: 2rem;
    }

    .banner-text-container p {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-top: 1.5rem;
        /* 155.556% */
    }

    .banner-btn-container {
        margin-top: 1.5rem;
    }

    .btn-secondary {
        margin-left: 1rem;
    }

    .banner-img-container {
        width: 90%;
        margin: 0 auto;
    }

    /* donate section  */
    .donate-text-container {}

    .donate-text-container h3 {
        font-size: 2rem;
    }

    .donate-text-container p {
        margin-top: 1.2rem;
        margin-bottom: 2rem;
        /* 155.556% */
    }

    .donate-amount-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.375rem;
        margin-bottom: 3rem;

    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 577px) and (max-width:992px) {
    header {
        background: none;
        padding-top: 2rem;
    }

    .banner-bg-container {
        background: none;
    }

    .banner-container {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }

    .banner-text-container {
        width: 100%;
        margin: 0 auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-text-container h1 {
        font-size: 3.5rem;
    }

    .banner-text-container p {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-top: 2rem;
        /* 155.556% */
    }

    .banner-btn-container {
        margin-top: 2rem;
    }

    .banner-img-container {
        width: 90%;
        margin: 0 auto;
        margin-left: 2.5rem;
    }

    .btn-primary {
        padding: 1.5rem 1.5rem;
        font-size: 2rem;
    }

    .btn-secondary {
        padding: 1.5rem 1.5rem;
        font-size: 2rem;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}