* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    min-height: 3950px;
    margin: 0 auto;
    border: 1px solid tomato;
}

/* banner section css  */
header {
    background-image: url(images/banner-bg2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 57.8%;
    min-height: auto;
    margin-bottom: 8rem;


}

.banner-bg-container {
    background-image: url(images/banner-bg1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 46.73%;
    position: relative;
    right: 5.5%;

}

.banner-container {
    width: 80%;
    margin: 0 0 0 15%;
    display: flex;

}

.banner-text-container {
    width: 50%;
    min-height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text-container h1 {
    color: #121212;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-text-container p {
    color: #707070;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    margin-top: 2rem;
    /* 155.556% */
}

.banner-btn-container {
    margin-top: 2rem;
}

.banner-img-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.banner-img-container img{
    width: 100%;
}

.btn-primary {
    border-radius: 5px;
    background: #FF5959;
    border: none;
    outline: none;
    padding: 1rem 0.75rem;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.btn-secondary {
    background: none;
    border: none;
    outline: none;
    color: #707070;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
    margin-left: 2rem;
    cursor: pointer;
    /* 155.556% */
}